      .Form {
      margin-left: 70px;
      font-weight: bold ;
      text-align: left;
      font-family:sans-serif,bold, Arial, Helvetica;
      font-size:14px;
     }
      .buttons{
      display:flex;
      align-items: center;
      width:100%;
      }
      div input{
      margin-right:10px;
      }
      form {
      margin: 0 auto;
      width: 600px;
      }
      form input{
      padding: 10px;
      }
      form select{
      background-color: #ffffff;
      padding:5px;
      }
      form textarea{
      padding:10px;
      margin-bottom:5px;
      }
      form label{
      display:block;
      width:100%;
      margin-bottom:5px;
      }
      .header
      {
          background: #2c2c33;
          height: 50px;
          width: 100%;
          margin-left: 0px;
      }
      nav ul li
      {
          margin-left: 7%;
          list-style-type: none;
          display: inline-block;
          padding: 0px, 5px;
          width: 10%;			/*je donne 250 pixel d'ecart entre chaque lien */
          transition: 0.5s; 		/*transition de 0.5 second pour grossir la case*/
      }
      nav ul li:hover  /*fonction hover pour le sur l'onglet passage de souris*/
      {
          width: 230px;
          transition: 0.5s;  /*transition de 0.5 seconde pour retrecir la case de 250px a 230px*/
      }
      ul li a
      {
          color: #f3a1df;
          text-decoration: none;
          transition:0.5s;  		/*temp pour executer tout ça*/
      }
      ul li a:hover
      {
          color: rgb(255, 255, 255);   		/*couleur du text au passage de la souris*/
          background: rgb(17, 91, 202);  		/*couleur de l'arriere plan au passage de la souris*/
          border-bottom: 4px solid rgba(255, 255, 255,0.8); 		/*ligne blanche dans l'onglet*/
          font-size: x-large;         /*le taille du texte quand la souris passe dessus */ 
          transition:0.5s;  		/*temp pour executer tout ça*/
      }
      .menu li
      {
          float: left;
      }
      .menu li a 
      {
          color: seashell;
          padding: 15px, 18px;
          text-decoration: none; 		/*j'enleve le soulignement des liens */
          display: block;
          line-height: 46px;
          text-align: center;  /*tu aligne le texte dans les onglet*/
      }
      #search
      {
          padding: 12px;
          text-align: right;
          margin-top: 18px;
          font-size: 17px;
          border: none;
          width : 95% ;
      }
      