body{
    background: white;
}
#boutique
{
    
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 1350px;
    height: 170px;
    }

#boutique td
{
    width: 20%;
    border-color: rgb(0, 0, 0);
}

#boutique td img
{
    width: 310px;
    height: 300px;
    padding: 0px;
    transition: 0.5s;
}
#boutique td img:hover
{
    width: 350px;
    height: 250px;
    transition: 0.5s;
}

#pageone
{
    padding: 12px;
    text-align: center;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
#diva
{
    text-align: center;
  }

#centre
{
  align-items: center;
}
  


/*!!!!!!!! PARTIE BARRE DE RECHERCHE  !!!!!!!!!!*/
/*Partie corps de la page 
!!Attention les variables en dessous sont sous div CLASS et pas ID.!!*/

/*debut de la barre onglet */
.header
{
    background: #2c2c33;
    height: 50px;
    width: 100%;
    margin-left: 0px;
}
nav ul li
{
	margin-left: 8%;
    list-style-type: none;
    display: inline-block;
    font-size: 15px;
    padding: 0px, 5px;
    width: 125px;			/*je donne 250 pixel d'ecart entre chaque lien */
    transition: 0.5s; 		/*transition de 0.5 second pour grossir la case*/
}
nav ul li:hover  /*fonction hover pour le sur l'onglet passage de souris*/
{
    transition: 0.5s;  /*transition de 0.5 seconde pour retrecir la case de 250px a 230px*/
    transform: scale(1.05);
}
ul li a
{
    color: #f3a1df;
    text-decoration: none;
    transition:0.5s;  		/*temp pour executer tout ça*/
}
ul li a:hover
{
    color: rgb(255, 255, 255);   		/*couleur du text au passage de la souris*/
    background: rgb(17, 91, 202);  		/*couleur de l'arriere plan au passage de la souris*/
    border-bottom: 4px solid rgba(255, 255, 255,0.8); 		/*ligne blanche dans l'onglet*/
    font-size: large;         /*le taille du texte quand la souris passe dessus */ 
    transition:0.5s;  		/*temp pour executer tout ça*/
}#submenu{
    display: none;
}
li:hover #submenu{
    display: inline-block;
    background:#131313;
    position: relative;
    align-content: center;
}
#submenu li{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.menu li
{
    float: left;
}
.menu li a 
{
    color: seashell;
    padding: 15px, 18px;
    text-decoration: none; 		
    display: block;
    line-height: 46px;
    text-align: center; 
}
#search
{
    padding: 12px;
    text-align: auto;
    margin-top: 18px;
    font-size: 17px;
    border: none;
    width : 95% ;
}
input
{
    font-size: 17px;
    border-radius: 10px;
}
input[type="submit"]:hover
{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}
input[type="search"]:hover
{
    transition: 0.3s;
	border-color: rgb(255, 255, 255);
}
/*fin de la barre onglet*/
#form
{
    margin-left: 10px;
    font-size: 17px;
}
input
{
    transition: 0.3s;
    text-align: left;
}
input:hover
{
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    font-size: 18px;
}
input[type="reset"]:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}
select
{
    font-size: 15px;
    transition: 0.3s;
}
select:hover
{
    background-color: rgb(255, 255, 255);
    border-color: rgb(122, 122, 122);  
    transition: 0.3s; 
}



#table
{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 80%;
    height: 150px;
    padding: 0px;
}

td
{
    width: 250px;
    border-color: rgb(0, 0, 0);
}

td img
{
    width: 210px;
    height: 200px;
    padding: 0px;
    transition: 0.5s;
}
td img:hover
{
    width: 150px;
    height: 150px;
    transition: 0.5s;
}



td input[type="submit"]
{
    padding-bottom: 0px;
}

#imghead
{
margin : auto;
} 




#titleas
{
  font-family: "Gill Sans", sans-serif;
  margin-left: 123px;
} 

/*Les prochaines Lignes seront principalement identique a celle d'en dessus*/


#com
{
	font-family: "Gill Sans", sans-serif;
    margin-left: 20px;
}
#comlist
{
	font-family: "Gill Sans", sans-serif;
    margin-left: 50px;
}    
#social
{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 40px;
    margin-right: 150px;
    text-align: center;

}

#Sinscrire
{
    text-align : center;
    margin-left: 40px;
    margin-right: 300px;
    
}
#sinscrire
{
    text-align: left;
    margin-left: 30px;
    margin-right: 30%;
}
#questionaide
{
    font-family: "arial";
    width: 500px;
    height: 35px;    
}

.questionayde input{
    display: block;
    width: 25%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #aaa;
    color: #666;
    font-size: 20px;
    transition: 1s ease-out;
}
.Boutonayde input{
    display: block;
    width: auto;
    height: 10%;
    padding: 10px 10px;
    border: 3px solid #424242;
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%,#2d3580 50%,#b8b8b8  );
    background-size: 200%;
    color: rgb(70, 70, 70);
    font-size: 24px;
    font-weight: 500;
    cursor: relative;
    right: 2%;
}

    #Boutique_
     {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 25px;
        background-color: #2c2c33;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        color : white ;
        font-family: cursive;
        
      }
      #Boutique_ img{
          padding-top : 5%;
          padding-left: 5%;
      }
      #imageP3 {
        padding: 5%;
      }
     
     
      #text {
        margin-left: 0px;
        padding: 5% 0;
      }
      #text ul {
        list-style: none;
        margin-left: 0;
        padding-left: 15px;
      }
    
      #videobackground {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 1%;
        background-color: #202020;
        width: 100%;
        border-radius: 8px;
      }
    
      #video
      {
          margin-left: 15% ; 
      } 

    
    #BoutonBoutique
    {
        margin-left: 10%; 
        
        text-align: center; 
        background-color: rgb(0, 0, 0); 
        font-family: Helvetica , Helvetica, Arial, sans-serif
    }
    #co
    {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       margin-top: 25px;
       background-color: #727272ab;
       width: 60%;
       height: auto;
       margin-left: auto;
       margin-right: auto;
       border-radius: 4%;
       color : rgb(0, 0, 0) ;
       text-align : center ;}
     #Inscrivez-vous
     {
         margin: auto;
         text-align :center ;  
     }
     #sinscrire #form_co input{
         padding-left: 50%;
         padding-right: 15%;
         margin-left: 50%;
         margin-top: auto;
         margin-right: auto;
        
     }

     #carre_base
     {
        
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           margin-top: 25px;
           background-color: #b4b4b4;
           width: 60%;
           height: auto;
           margin-left: auto;
           margin-right: auto;
           border-radius: 4%;
           color : rgb(0, 0, 0) ;
           text-align : center ;
     }
     #carre_sec
     {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           margin-top: 25px;
           background-color: #2f00ffab;
           width: 60%;
           height: auto;
           margin-left: auto;
           margin-right: auto;
           border-radius: 4%;
           color : rgb(0, 0, 0) ;
           text-align : center ;
     }

     #second
     {
         text-align: center;
         margin-left: 50%;
         margin-right: 30% ;
     }
     #mouseTarget {
        box-sizing: border-box;
        width:15%;
        border:1px solid #333;
        margin :center ;
      }
      #carre_connecter
      {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 25px;
            background-color: #b4b4b4;
            width: 60%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            border-radius: 4%;
            color : rgb(0, 0, 0) ;
            text-align : center ;
      }
#seconnecter
{
    text-align: left;
    margin-left: 5%;
    margin-right: 10%;
}
#styleboutoncompte
{
    margin-top: 5%;
    margin-left: 55%; 
    margin-right: 50%;
    height: 40px;
    width: 140px; 
    text-align: center; 
    background-color: rgb(0, 0, 255); 
    color : #ffffff;
    font-family: Helvetica , Helvetica, Arial, sans-serif
}
/*PARTIE PAGE CONNEXION avec Javascript !!!TEST!!! */
.arriereplan{
    font-family: Montserrat, sans-serif;
    background: #5c5858;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width : 500px;
    height: 90%;
    padding:25px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
}
.box h3 strong{
    color :#325c9b;
    font-weight: 900;
}
.formBloc h3{
    color: rgb(148, 148, 148);
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 45px;
}
.formBloc .formGroupe{
    position: relative;
    display: flex ;
    margin-bottom: 50px;
}
.formBloc .formGroupe label{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%); /*placement du label*/
   color: #aaa;
    font-size: 20px;
    transition: 0.4s ease-out; /*vitesse normal au debut et milieu et a la fin cela ralentit*/
}
.formBloc .formGroupe input{
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #aaa;
    color: #666;
    font-size: 20px;
    transition: 1s ease-out;
}
.formGroupe:nth-child(4){
   /*4eme enfant de formGroup soit le bouton*/
    margin-bottom: 65px;
    justify-content: center;
}
.formBloc .formGroupe .buttonSub{
    display: block;
    width: auto;
    padding: 15px 60px;
    border: 3px solid #424242;
    border-radius: 999px;
    background-image: linear-gradient(to right, transparent 50%,#2d3580 50%,#b8b8b8  );
    background-size: 200%;
    color: rgb(70, 70, 70);
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.formBloc .formGroupe .buttonSub:hover{
    color:#fff;
    background-position: 100%;
    border: 3px solid #fff;
}
.formBloc .mdpPerdu a{
    color: #8b97d7;
    font-size: 16px ;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    }
    .formBloc .mdpPerdu a:hover{
        border-bottom-color:#8d97d7 ;
    }
    
    /*Ani*/
.formBloc .formGroupe:focus-within label,
.formBloc .formGroupe.animation label{
    top:0px;
    transform: translateY(-100%);
    color: #8b97d7;

}
.formBloc .formGroupe:focus-within input,
.formBloc .formGroupe.animation input{
    color: #8b97d7;

}
/*Fin du prog CSS pour La page Connexion*/
 #valid {
        color: #8b97d7;
        font-size: 16px ;
        font-weight: 400;
        text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 2px solid transparent;
        margin-left: 190px;
        }
#connected
{

   flex-direction: row;
   flex-wrap: wrap;
   margin-top: 2%;
   background-color: #53535385;
   width: 80%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   border-radius: 0%;
   border: 1cm;
   border-color: #202020;
   color : rgb(0, 0, 0) ;
   text-align : center ;
}
#spacetxt
{
    text-align: left;
    margin-left: 15%;
    margin-right: auto;
}

.tete
{
    height: auto;
    width: 80%;
    margin-left: 0px;
    background-color: #53535300;
    vertical-align: top;
    }
okay ul li
{
	margin-left:0%;
    list-style-type: none;
    padding-right: auto;
     width: 25%;			/*je donne 250 pixel d'ecart entre chaque lien */
    transition: 0.5s; 		/*transition de 0.5 second pour grossir la case*/
}
okay ul li:hover  /*fonction hover pour le sur l'onglet passage de souris*/
{
    width: 25%;
    transition: 0.5s;  /*transition de 0.5 seconde pour retrecir la case de 250px a 230px*/
}
okay ul li a
{
    color: #000000;
    text-decoration: none;
    transition:0.5s;  		/*temp pour executer tout ça*/
}
okay ul li a:hover
{
    color: rgb(0, 0, 0);   		/*couleur du text au passage de la souris*/
    background: hsl(0, 0%, 100%);  		/*couleur de l'arriere plan au passage de la souris*/
    border-bottom: 4px solid rgba(255, 255, 255,0.8); 		/*ligne blanche dans l'onglet*/
    font-size: large;         /*le taille du texte quand la souris passe dessus */ 
    transition:0.5s;  		/*temp pour executer tout ça*/
}
.menue li a 
{
    color: rgb(0, 0, 0);
    padding: 10px , 10px, 10px, 10px;
    text-decoration: none; 		/*j'enleve le soulignement des liens */
    display: block;
    line-height: 46px;
    text-align: center;  /*tu aligne le texte dans les onglet*/
}
#connected1
{
   flex-direction: row;
   flex-wrap: wrap;
   margin-top: 2%;
   background-color: #727272ab;
   width: 100%;
   height: auto;
   margin-left: 0%;
   margin-right: 1%;
   border-radius: 0%;
   color : rgb(0, 0, 0) ;  
}
#txtco1
{
    text-align: left;
    margin-left: 0.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
}
#coteli
{
    margin-bottom:20%;
}
#connected1_1
{
   position: static;
   margin-top: 2%;
   background-color: #72727296;
   width: 100%;
   height:auto;
   margin-left: 0%;
   margin-right: 0%;
   border-radius: 1%;
   color : rgb(0, 0, 0) ;  
}
#connected1_3
{
   position: relative;
   left: 50%;
   bottom: 50%;
   margin-top: 2%;
   background-color: #72727200;
   width: 100%;
   height: auto;
   color : rgb(0, 0, 0) ;  
   background-color: #2c2c33;
}



.loader{
    margin:auto;
    margin-top:100px;
    margin-bottom : 100px;
    border:16px solid #bfc3c7;
    width :50px;
    height:80px;
    border-top-color: #1abc9c ;
    border-bottom-color: #3498db;
    border-radius: 50%;
    animation : chargeur 0.5s linear infinite; /*Animation pour iniquer de le mouvement sera lineaire et infini*/
}
/*@keyframes chargeur ====== chargeur etant le nom de l'animation
et key frame est sa "fontction"*/
@keyframes chargeur{
    0%{
        transform:rotate(0deg) scale(1); /*scale etant l'echelle ou plutot la taille du dessin*/
        border-top-color:rgb(37, 37, 255);
        border-bottom-color: rgb(75, 75, 75);
    }
    25%{
        border-top-color:rgb(102, 102, 255);
        border-bottom-color: rgb(92, 92, 92);/*il y a 5 progression lors du processus a 0% 25% 50% 75% 100%*/
    }
    50%{
        transform:rotate(360deg) scale(1.15); /*Scale a 1.5 comme si je mettais la taille a 115%*/
        border-top-color : rgb(160, 160, 255);
        border-bottom-color: rgb(116, 116, 116);
    }
    75%{
        border-top-color:blue;
        border-bottom-color: gray;
    }
    100%{
        transform:rotate(720deg) scale(1);
        border-top-color:blue;
        border-bottom-color: rgb(70, 70, 70);
    }
}
.rass
{
    height: auto;
    width: 100%;
    margin-left: 0px;
    margin-right: 100px;
    background-color: #535353;
    vertical-align: top;
    }
okayy ul li
{
    margin-left: 3%;
    list-style-type: none;
    display: inline-block;
    padding: 10px, 4px;
    width: 150px;			/*je donne 250 pixel d'ecart entre chaque lien */
    transition: 0.5s; 		/*transition de 0.5 second pour grossir la case*/
}
okayy ul li:hover  /*fonction hover pour le sur l'onglet passage de souris*/
{
    width: 230px;
    transition: 0.5s;  /*transition de 0.5 seconde pour retrecir la case de 250px a 230px*/
}
okayy ul li a
{
    color: #2C2C33;
    text-decoration: none;
    transition:0.5s;  		/*temp pour executer tout ça*/
}
okayy ul li a:hover
{
    color: rgb(255, 255, 255);   		/*couleur du text au passage de la souris*/
    background: rgb(16, 191, 197);  		/*couleur de l'arriere plan au passage de la souris*/
    border-bottom: 4px solid rgba(255, 255, 255,0.8); 		/*ligne blanche dans l'onglet*/
    font-size: x-large;         /*le taille du texte quand la souris passe dessus */ 
    transition:0.5s;  		/*temp pour executer tout ça*/
}
.menuee li
{
    float: center;
}
.menuee li a 
{
    color: seashell;
    padding: 15px, 18px;
    text-decoration: none; 		/*j'enleve le soulignement des liens */
    display: block;
    line-height: 46px;
    text-align: center;  /*tu aligne le texte dans les onglet*/
}

#Txtsante{
    color: orange;
    margin-left: 10px;
}
#Sante
{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin-top: 25px;
   background-color: #2c2c33;
   width: 100%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   border-radius: 8px;
   color : white ;
   font-family: cursive;
   
 }
 #txtb1
 {
     text-align: left;
     margin-left: 4%;
     color: rgb(0, 0, 0);
 }
 #txtpanier
 {
     text-align: left;
     margin-left: 15%;
     margin-bottom: 10%;
     color: rgb(0, 0, 0);
 }#panier
 {

    margin-top: 10%;
    background-color: #2c2c3360;
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    color : white ;
    font: 1px;
    position:relative;
    left: 32.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  #txtpanier2{
      margin-left: 2%;
      
  }
  #imgpanier{
        width: 10%;
        position: relative;
        left: -57%;
        margin-top: 25%;

  }
    #styleboutonpanier
    {
        margin-top: 25%;
        margin-left: 90%; 
        height: 50%;
        width: 100%; 
        text-align: center; 
        background-color: rgb(187, 187, 187); 
        color : #ffffff;
        font-family: Helvetica , Helvetica, Arial, sans-serif;
        margin-bottom: 15%;
        position: relative;
        right: 28.5%;
    }
    #bas{
        text-align: left;
        margin-left: 2%;
    }

    #changermdp
        {
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 2%;
            background-color: #4d4d4d70;
            width: 100%;
            height: auto;
            position: relative;
            left: auto;
            margin-left: 0%;
            margin-right: 1%;
            border-radius: 0%;
            color : rgb(0, 0, 0) ;  
         }
    #textchangermdp
    {
        text-align: center;
    }
    .cabeza
{
    height: auto;
    width: 30%;
    margin-left: 0px;
    margin-right: 100px;
    background-color: #53535377;
    vertical-align: top;
    }
navi ul li
{
    margin-left: 0%;
    margin-right: 100%;
    list-style-type: none;
    display: inline-block;
    padding: 0px, 0px;
    width: 150px;			/*je donne 250 pixel d'ecart entre chaque lien */
    transition: 0.5s; 		/*transition de 0.5 second pour grossir la case*/
}
navi ul li:hover  /*fonction hover pour le sur l'onglet passage de souris*/
{
    width: 100%;
    transition: 0.5s;  /*transition de 0.5 seconde pour retrecir la case de 250px a 230px*/
}
navi ul li a
{
    margin-left: 0px;
    width: 300px;
    color: #2C2C33;
    text-decoration: none;
    transition:0.5s;  		/*temp pour executer tout ça*/
}
navi ul li a:hover
{
    color: rgb(0, 0, 0);   		/*couleur du text au passage de la souris*/
    background: rgb(255, 255, 255);  		/*couleur de l'arriere plan au passage de la souris*/
    border-bottom: 4px solid rgba(255, 255, 255,0.8); 		/*ligne blanche dans l'onglet*/
    font-size: large;         /*le taille du texte quand la souris passe dessus */ 
    transition:0.5s;  		/*temp pour executer tout ça*/
}
#submenu3{
    display: none;
}
li:hover #submenu3{
    display: inline-block;
    background:#949494;
    position: absolute;
    align-content: center;
}
#submenu3 li{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}
.menu3 li
{
    width: 50%;
    float: center;
}
.menu3 li a 
{
    color: seashell;
    padding: 0px, 0px;
    text-decoration: none; 		/*j'enleve le soulignement des liens */
    display: block;
    line-height: 50px;
    text-align: center;  /*tu aligne le texte dans les onglet*/
}

.contenu{
    padding: 50px 10%;
    font-family: "Gill Sans", sans-serif;
    margin-left: 20px;

}
.btn-toggle{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    color: #fff;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
body.dark{
    color: #fff;
    background: #333;
    }
body.dark .btn-toggle{
    background: #f1f1f1;
    color: #333;
}

#carretest
{

   flex-direction: row;
   flex-wrap: wrap;
   margin-top: 2%;
   background-color: #53535385;
   width: 80%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
   border: 1cm;
   border-color: #202020;
   color : rgb(0, 0, 0) ;
   text-align : center ;
}

  
  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 5%;
    border-radius: 50%;
  }
  
  /* on donne une forme a la classe chat */
  .chat {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* on donne un style a form contain */
  .form-boite {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* forme de la zone de text */
  .form-boite textarea {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* lorsqu'on focuse la zone de text alors on fais qlqchose */
  .form-boite textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* donner un style au bouton vert envoyer */
  .form-boite .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /*creation du bouton retour en rouge */
  .form-boite .cancel {
    background-color: red;
  }
  
  /* Hover pour les bouton anim */
  .form-boite .btn:hover, .open-button:hover {
    opacity: 1;
  }
  